In [134]:
import pandas as pd
import numpy as np
df1 = pd.read_csv('LoanApprovalPrediction.csv')
print(df1.head())

    Loan_ID Gender Married  Dependents     Education Self_Employed  ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  Credit_History Property_Area Loan_Status
0  LP001002   Male      No         0.0      Graduate            No             5849                0.0         NaN             360.0             1.0         Urban           Y
1  LP001003   Male     Yes         1.0      Graduate            No             4583             1508.0       128.0             360.0             1.0         Rural           N
2  LP001005   Male     Yes         0.0      Graduate           Yes             3000                0.0        66.0             360.0             1.0         Urban           Y
3  LP001006   Male     Yes         0.0  Not Graduate            No             2583             2358.0       120.0             360.0             1.0         Urban           Y
4  LP001008   Male      No         0.0      Graduate            No             6000                0.0       141.0             360.0             1.0         Urban           Y

In [135]:
print(df1.shape[0])
print(df1.shape[1])

598
13

In [136]:
df2=pd.read_csv('loan_data.csv')
print(df2.head())
print(df2.shape[0])
print(df2.shape[1])

   person_age person_gender person_education  person_income  person_emp_exp person_home_ownership  loan_amnt loan_intent  loan_int_rate  loan_percent_income  cb_person_cred_hist_length  \
0        22.0        female           Master        71948.0               0                  RENT    35000.0    PERSONAL          16.02                 0.49                         3.0
1        21.0        female      High School        12282.0               0                   OWN     1000.0   EDUCATION          11.14                 0.08                         2.0
2        25.0        female      High School        12438.0               3              MORTGAGE     5500.0     MEDICAL          12.87                 0.44                         3.0
3        23.0        female         Bachelor        79753.0               0                  RENT    35000.0     MEDICAL          15.23                 0.44                         2.0
4        24.0          male           Master        66135.0               1                  RENT    35000.0     MEDICAL          14.27                 0.53                         4.0

   credit_score previous_loan_defaults_on_file  loan_status
0           561                             No            1
1           504                            Yes            0
2           635                             No            1
3           675                             No            1
4           586                             No            1
45000
14

In [137]:
df3 = df2
df3.drop(['person_age', 'person_gender','cb_person_cred_hist_length','person_home_ownership'], axis=1, inplace=True)

In [138]:
print(df3.head())

  person_education  person_income  person_emp_exp  loan_amnt loan_intent  loan_int_rate  loan_percent_income  credit_score previous_loan_defaults_on_file  loan_status
0           Master        71948.0               0    35000.0    PERSONAL          16.02                 0.49           561                             No            1
1      High School        12282.0               0     1000.0   EDUCATION          11.14                 0.08           504                            Yes            0
2      High School        12438.0               3     5500.0     MEDICAL          12.87                 0.44           635                             No            1
3         Bachelor        79753.0               0    35000.0     MEDICAL          15.23                 0.44           675                             No            1
4           Master        66135.0               1    35000.0     MEDICAL          14.27                 0.53           586                             No            1

In [139]:
df3.drop(['loan_percent_income', 'loan_int_rate','loan_intent','person_emp_exp'], axis=1, inplace=True)
print(df3.head())

  person_education  person_income  loan_amnt  credit_score previous_loan_defaults_on_file  loan_status
0           Master        71948.0    35000.0           561                             No            1
1      High School        12282.0     1000.0           504                            Yes            0
2      High School        12438.0     5500.0           635                             No            1
3         Bachelor        79753.0    35000.0           675                             No            1
4           Master        66135.0    35000.0           586                             No            1

In [140]:
rows = df3.shape[0]
def generate_tier(rows):
    tiers=[]
    for i in range(rows):
        tier = np.random.choice(['1','2','3'], p=[0.3,0.4,0.3])
        tiers.append(tier)
    return tiers

df3['university_tier'] = generate_tier(rows)
print(df3.head())
print(df3.tail())

  person_education  person_income  loan_amnt  credit_score previous_loan_defaults_on_file  loan_status university_tier
0           Master        71948.0    35000.0           561                             No            1               3
1      High School        12282.0     1000.0           504                            Yes            0               1
2      High School        12438.0     5500.0           635                             No            1               1
3         Bachelor        79753.0    35000.0           675                             No            1               3
4           Master        66135.0    35000.0           586                             No            1               3
      person_education  person_income  loan_amnt  credit_score previous_loan_defaults_on_file  loan_status university_tier
44995        Associate        47971.0    15000.0           645                             No            1               1
44996        Associate        65800.0     9000.0           621                             No            1               3
44997        Associate        56942.0     2771.0           668                             No            1               3
44998         Bachelor        33164.0    12000.0           604                             No            1               2
44999      High School        51609.0     6665.0           628                             No            1               3

In [141]:
def generate_cgpa(tiers):
    gpas=[]
    for tier in tiers:
        if tier==1:
            gpa = np.random.normal(7.8,0.6)
        elif tier==2:
            gpa = np.random.normal(7.5,0.9)
        else  : 
            gpa = np.random.normal(6.8,0.4)      

        random_gpa = np.random.uniform(6.0,10.0)    

        gpa_final=0.5*gpa + 0.5*random_gpa
        gpas.append(round(gpa_final,2))
    return gpas    

#df3.drop('person_education')
tiers = generate_tier(rows)
df3['cgpa'] = generate_cgpa(tiers)
df3.drop('loan_status', axis=1, inplace=True)

print(df3.head())
print(df3.tail())
print(df3.columns)

  person_education  person_income  loan_amnt  credit_score previous_loan_defaults_on_file university_tier  cgpa
0           Master        71948.0    35000.0           561                             No               3  6.97
1      High School        12282.0     1000.0           504                            Yes               1  7.35
2      High School        12438.0     5500.0           635                             No               1  7.56
3         Bachelor        79753.0    35000.0           675                             No               3  7.01
4           Master        66135.0    35000.0           586                             No               3  6.33
      person_education  person_income  loan_amnt  credit_score previous_loan_defaults_on_file university_tier  cgpa
44995        Associate        47971.0    15000.0           645                             No               1  6.65
44996        Associate        65800.0     9000.0           621                             No               3  8.22
44997        Associate        56942.0     2771.0           668                             No               3  7.80
44998         Bachelor        33164.0    12000.0           604                             No               2  6.40
44999      High School        51609.0     6665.0           628                             No               3  8.05
Index(['person_education', 'person_income', 'loan_amnt', 'credit_score', 'previous_loan_defaults_on_file', 'university_tier', 'cgpa'], dtype='object')

In [142]:
df3.rename(columns={'person_income': 'family_income','previous_loan_defaults_on_file':'any_active_loans'}, inplace=True)
print(df3.head())

  person_education  family_income  loan_amnt  credit_score any_active_loans university_tier  cgpa
0           Master        71948.0    35000.0           561               No               3  6.97
1      High School        12282.0     1000.0           504              Yes               1  7.35
2      High School        12438.0     5500.0           635               No               1  7.56
3         Bachelor        79753.0    35000.0           675               No               3  7.01
4           Master        66135.0    35000.0           586               No               3  6.33

In [143]:
print(df3.sample(n=100,random_state=42))

      person_education  family_income  loan_amnt  credit_score any_active_loans university_tier  cgpa
37979        Associate        96865.0     7500.0           601               No               3  8.02
9911         Associate        56838.0     9000.0           647              Yes               1  8.04
43386           Master        37298.0     5000.0           711               No               2  8.09
13822         Bachelor        39944.0     5000.0           597              Yes               2  8.40
44810      High School        67974.0    10000.0           586               No               2  6.96
...                ...            ...        ...           ...              ...             ...   ...
6316         Associate        43178.0     6000.0           658              Yes               1  7.46
24189         Bachelor        55272.0    10000.0           662               No               3  6.24
26596         Bachelor       129544.0     2500.0           669               No               2  6.17
43366        Associate       108001.0    28869.0           602               No               3  6.80
13847        Associate       116992.0    14000.0           655              Yes               2  6.96

[100 rows x 7 columns]

In [144]:
def convert_to_indian(df, column='family_income'):
    IND_MIN, IND_MAX = 150000, 2000000

    old_min = df[column].min()
    old_max = df[column].max()

    # Apply scaling formula vectorized
    df['income_indian'] = ((df[column] - old_min) / (old_max - old_min)) * (IND_MAX - IND_MIN) + IND_MIN
    df['income_indian'] = df['income_indian'].astype(int)

    return df
df3 = convert_to_indian(df3)
#print(df3.head())
df3.drop(['person_education','family_income'], axis=1, inplace=True)
print(df3.sample(n=100,random_state=42))

       loan_amnt  credit_score any_active_loans university_tier  cgpa  income_indian
37979     7500.0           601               No               3  8.02         172856
9911      9000.0           647              Yes               1  8.04         162561
43386     5000.0           711               No               2  8.09         157535
13822     5000.0           597              Yes               2  8.40         158216
44810    10000.0           586               No               2  6.96         165425
...          ...           ...              ...             ...   ...            ...
6316      6000.0           658              Yes               1  7.46         159047
24189    10000.0           662               No               3  6.24         162158
26596     2500.0           669               No               2  6.17         181261
43366    28869.0           602               No               3  6.80         175720
13847    14000.0           655              Yes               2  6.96         178033

[100 rows x 6 columns]

In [145]:
df3['income_indian'] = df3['income_indian'].round(-2)
print(df3.sample(n=100,random_state=42))

       loan_amnt  credit_score any_active_loans university_tier  cgpa  income_indian
37979     7500.0           601               No               3  8.02         172900
9911      9000.0           647              Yes               1  8.04         162600
43386     5000.0           711               No               2  8.09         157500
13822     5000.0           597              Yes               2  8.40         158200
44810    10000.0           586               No               2  6.96         165400
...          ...           ...              ...             ...   ...            ...
6316      6000.0           658              Yes               1  7.46         159000
24189    10000.0           662               No               3  6.24         162200
26596     2500.0           669               No               2  6.17         181300
43366    28869.0           602               No               3  6.80         175700
13847    14000.0           655              Yes               2  6.96         178000

[100 rows x 6 columns]

In [146]:
'''def convert_loan_req_to_indian(loans):
    final_loan = []
    INR_min = 300000
    INR_max = 2000000
    min_usd = loans.min()
    max_usd = loans.max()
    for loan in loans:
        final = INR_min + ((loan - min_usd) * (INR_max - INR_min) / (max_usd - min_usd))
        final_loan.append(final)
    return final_loan

df3['loan_amnt'] = convert_loan_req_to_indian(df3['loan_amnt'])
'''# this is slower

"def convert_loan_req_to_indian(loans):\n    final_loan = []\n    INR_min = 300000\n    INR_max = 2000000\n    min_usd = loans.min()\n    max_usd = loans.max()\n    for loan in loans:\n        final = INR_min + ((loan - min_usd) * (INR_max - INR_min) / (max_usd - min_usd))\n        final_loan.append(final)\n    return final_loan\n\ndf3['loan_amnt'] = convert_loan_req_to_indian(df3['loan_amnt'])\n"

In [147]:
'''INR_min = 300000
INR_max = 2000000
min_usd = df3['loan_amnt'].min()
max_usd = df3['loan_amnt'].max()

df3['loan_amnt'] = INR_min + ((df3['loan_amnt'] - min_usd) * (INR_max - INR_min) / (max_usd - min_usd))
#faster vectorized version without looping
print(df3.head())'''

"INR_min = 300000\nINR_max = 2000000\nmin_usd = df3['loan_amnt'].min()\nmax_usd = df3['loan_amnt'].max()\n\ndf3['loan_amnt'] = INR_min + ((df3['loan_amnt'] - min_usd) * (INR_max - INR_min) / (max_usd - min_usd))\n#faster vectorized version without looping\nprint(df3.head())"

In [148]:
# Define Indian-style loan ranges
INR_min = 300000    # 3 lakh
INR_max = 2000000   # 20 lakh

# Compute percentiles of USD loans
usd_percentiles = df3['loan_amnt'].rank(pct=True)  # gives 0–1 scale

# Map to INR range
df3['loan_indian'] = INR_min + usd_percentiles * (INR_max - INR_min)

# Round to nearest 1000 for realism
df3['loan_indian'] = df3['loan_indian'].round(-3)

print(df3)

       loan_amnt  credit_score any_active_loans university_tier  cgpa  income_indian  loan_indian
0        35000.0           561               No               3  6.97         166400    1996000.0
1         1000.0           504              Yes               1  7.35         151100     308000.0
2         5500.0           635               No               1  7.56         151100     819000.0
3        35000.0           675               No               3  7.01         168500    1996000.0
4        35000.0           586               No               3  6.33         165000    1996000.0
...          ...           ...              ...             ...   ...            ...          ...
44995    15000.0           645               No               1  6.65         160300    1703000.0
44996     9000.0           621               No               3  8.22         164900    1233000.0
44997     2771.0           668               No               3  7.80         162600     445000.0
44998    12000.0           604               No               2  6.40         156500    1526000.0
44999     6665.0           628               No               3  8.05         161200     982000.0

[45000 rows x 7 columns]

In [149]:
# Function to generate repayment period
def generate_repayment_period(loan_amount):
    if loan_amount <= 500000:
        return np.random.randint(3, 5)  # 3–4 years
    elif loan_amount <= 1000000:
        return np.random.randint(4, 6)  # 4–5 years
    elif loan_amount <= 1500000:
        return np.random.randint(5, 7)  # 5–6 years
    else:
        return np.random.randint(6, 8)  # 6–7 years

# Apply to dataset
df3['repayment_period'] = df3['loan_indian'].apply(generate_repayment_period)

In [150]:


def collateral_by_income(income):
    if income <= 150000:
        return np.random.choice(['No', 'Yes'], p=[0.9, 0.1])
    elif income <= 250000:
        return np.random.choice(['No', 'Yes'], p=[0.7, 0.3])
    elif income <= 400000:
        return np.random.choice(['No', 'Yes'], p=[0.4, 0.6])
    else:
        return np.random.choice(['No', 'Yes'], p=[0.1, 0.9])

df3['collateral_available'] = df3['income_indian'].apply(collateral_by_income)
print(df3.head())

   loan_amnt  credit_score any_active_loans university_tier  cgpa  income_indian  loan_indian  repayment_period collateral_available
0    35000.0           561               No               3  6.97         166400    1996000.0                 7                   No
1     1000.0           504              Yes               1  7.35         151100     308000.0                 4                   No
2     5500.0           635               No               1  7.56         151100     819000.0                 4                   No
3    35000.0           675               No               3  7.01         168500    1996000.0                 6                   No
4    35000.0           586               No               3  6.33         165000    1996000.0                 6                   No

In [151]:
df3.to_csv("studentdata.csv",index=False)

In [152]:
df3.drop("loan_amnt", axis=1, inplace=True)  # Add inplace=True here
df3.rename(columns={'loan_indian': 'loan_amt'}, inplace=True)
df3.rename(columns={'income_indian': 'family_income'}, inplace=True)

print(df3.head())
df3.to_csv("studentdata.csv",index=False)

   credit_score any_active_loans university_tier  cgpa  family_income   loan_amt  repayment_period collateral_available
0           561               No               3  6.97         166400  1996000.0                 7                   No
1           504              Yes               1  7.35         151100   308000.0                 4                   No
2           635               No               1  7.56         151100   819000.0                 4                   No
3           675               No               3  7.01         168500  1996000.0                 6                   No
4           586               No               3  6.33         165000  1996000.0                 6                   No

In [153]:
df4 = pd.read_excel('loanproducts.xlsx')
df4.drop('Concessions',axis=1,inplace=True)
print(df4.head())

  Bank_Name                   Product_Name  Interest_Rate  Max_Loan_Domestic  Max_Loan_Abroad Repayment_Period       Collateral Processing_Fee College_Tier_Eligibility
0       SBI            Scholar Loan Scheme          10.55            1000000          2000000         15 years  Required > 7.5L           5000              Tier 1 only
1       SBI  Scholar Loan Scheme Variant 1          10.75            1050000          2100000         15 years  Required > 7.5L            Nil              Tier 1 only
2       SBI  Scholar Loan Scheme Variant 2          10.95            1100000          2200000         15 years  Required > 7.5L           5000              Tier 1 only
3       SBI  Scholar Loan Scheme Variant 3          11.15            1150000          2300000         15 years  Required > 7.5L            Nil              Tier 1 only
4       PNB        Pratibha Education Loan          10.80            1000000          2000000         15 years  Required > 7.5L            Nil              Tier 1 only

In [154]:

# ✅ Convert 'College_Tier_Eligibility' to numeric tier
df4['College_Tier_Eligibility'] = df4['College_Tier_Eligibility'].str.extract(r'Tier (\d)')

# ✅ Remove 'years' from 'Repayment_Period' and convert to int
df4['Repayment_Period'] = df4['Repayment_Period'].str.replace(' years', '', regex=False).astype(int)


print(df4.head())

  Bank_Name                   Product_Name  Interest_Rate  Max_Loan_Domestic  Max_Loan_Abroad  Repayment_Period       Collateral Processing_Fee College_Tier_Eligibility
0       SBI            Scholar Loan Scheme          10.55            1000000          2000000                15  Required > 7.5L           5000                        1
1       SBI  Scholar Loan Scheme Variant 1          10.75            1050000          2100000                15  Required > 7.5L            Nil                        1
2       SBI  Scholar Loan Scheme Variant 2          10.95            1100000          2200000                15  Required > 7.5L           5000                        1
3       SBI  Scholar Loan Scheme Variant 3          11.15            1150000          2300000                15  Required > 7.5L            Nil                        1
4       PNB        Pratibha Education Loan          10.80            1000000          2000000                15  Required > 7.5L            Nil                        1

In [155]:

df5 = pd.read_excel('finalloanproducts.xlsx')

In [156]:
import numpy as np
import pandas as pd

# --------------------------
# 1. Drop Abroad Loan column from df5
# --------------------------
df5 = df5.drop(columns=["Max_Loan_Abroad"], errors="ignore")

# --------------------------
# 2. Collateral rule function
# --------------------------
def collateral_required(rule, loan_amount):
    """Return 1 if collateral is required for this loan amount and rule, else 0."""
    if pd.isna(rule):
        return 0
    
    rule = str(rule).lower()
    loan_in_lakhs = loan_amount / 100000  # convert absolute Rs. to lakhs
    
    if "optional" in rule:
        return 0
    elif "tangible" in rule or "parent" in rule:
        return 1
    elif "> 7.5" in rule:
        return 1 if loan_in_lakhs > 7.5 else 0
    elif "> 4" in rule:
        return 1 if loan_in_lakhs > 4 else 0
    else:
        return 1  # fallback

# --------------------------
# 3. Cross join df3 (students) × df5 (loan products)
# --------------------------
df3["key"] = 1
df5["key"] = 1
df = df3.merge(df5, on="key").drop("key", axis=1)

# --------------------------
# 4. Apply collateral logic
# --------------------------
df["Collateral_Required"] = df.apply(
    lambda row: collateral_required(row["Collateral"], row["loan_amt"]), axis=1
)

# Use student's collateral availability column
df["Collateral_Available"] = df["collateral_available"].map({"Yes": 1, "No": 0})

# Final check if collateral condition is satisfied
df["Collateral_OK"] = np.where(
    (df["Collateral_Required"] == 0) | (df["Collateral_Available"] == 1), 1, 0
)

# --------------------------
# 5. Final merged dataset
# --------------------------
print(df.head(20))
print("Total rows:", len(df))

    credit_score any_active_loans university_tier  cgpa  family_income   loan_amt  repayment_period collateral_available  Unnamed: 0   Bank_Name                        Product_Name  Interest_Rate  \
0            561               No               3  6.97         166400  1996000.0                 7                   No           0         SBI                 Scholar Loan Scheme          10.55
1            561               No               3  6.97         166400  1996000.0                 7                   No           1         SBI       Scholar Loan Scheme Variant 1          10.75
2            561               No               3  6.97         166400  1996000.0                 7                   No           2         SBI       Scholar Loan Scheme Variant 2          10.95
3            561               No               3  6.97         166400  1996000.0                 7                   No           3         SBI       Scholar Loan Scheme Variant 3          11.15
4            561               No               3  6.97         166400  1996000.0                 7                   No           4         PNB             Pratibha Education Loan          10.80
5            561               No               3  6.97         166400  1996000.0                 7                   No           5         PNB   Pratibha Education Loan Variant 1          11.00
6            561               No               3  6.97         166400  1996000.0                 7                   No           6         PNB   Pratibha Education Loan Variant 2          11.20
7            561               No               3  6.97         166400  1996000.0                 7                   No           7         PNB   Pratibha Education Loan Variant 3          11.40
8            561               No               3  6.97         166400  1996000.0                 7                   No           8   Axis Bank            Education Advantage Loan          15.50
9            561               No               3  6.97         166400  1996000.0                 7                   No           9   Axis Bank  Education Advantage Loan Variant 1          15.70
10           561               No               3  6.97         166400  1996000.0                 7                   No          10   Axis Bank  Education Advantage Loan Variant 2          15.90
11           561               No               3  6.97         166400  1996000.0                 7                   No          11   Axis Bank  Education Advantage Loan Variant 3          16.10
12           561               No               3  6.97         166400  1996000.0                 7                   No          12        HDFC                      Education Plus          12.10
13           561               No               3  6.97         166400  1996000.0                 7                   No          13        HDFC            Education Plus Variant 1          12.30
14           561               No               3  6.97         166400  1996000.0                 7                   No          14        HDFC            Education Plus Variant 2          12.50
15           561               No               3  6.97         166400  1996000.0                 7                   No          15        HDFC            Education Plus Variant 3          12.70
16           561               No               3  6.97         166400  1996000.0                 7                   No          16  ICICI Bank                     Global Edu Loan          11.25
17           561               No               3  6.97         166400  1996000.0                 7                   No          17  ICICI Bank           Global Edu Loan Variant 1          11.45
18           561               No               3  6.97         166400  1996000.0                 7                   No          18  ICICI Bank           Global Edu Loan Variant 2          11.65
19           561               No               3  6.97         166400  1996000.0                 7                   No          19  ICICI Bank           Global Edu Loan Variant 3          11.85

    Max_Loan_Domestic  Repayment_Period           Collateral  Processing_Fee  College_Tier_Eligibility  Collateral_Required  Collateral_Available  Collateral_OK
0             1000000                15      Required > 7.5L            5000                         1                    1                     0              0
1             1050000                15      Required > 7.5L               0                         1                    1                     0              0
2             1100000                15      Required > 7.5L            5000                         1                    1                     0              0
3             1150000                15      Required > 7.5L               0                         1                    1                     0              0
4             1000000                15      Required > 7.5L               0                         1                    1                     0              0
5             1050000                15      Required > 7.5L               0                         1                    1                     0              0
6             1100000                15      Required > 7.5L               0                         1                    1                     0              0
7             1150000                15      Required > 7.5L               0                         1                    1                     0              0
8             1000000                15  Tangible collateral            5000                         3                    1                     0              0
9             1050000                15  Tangible collateral               0                         3                    1                     0              0
10            1100000                15  Tangible collateral            6000                         3                    1                     0              0
11            1150000                15  Tangible collateral               0                         3                    1                     0              0
12            1000000                15        Required > 4L               0                         3                    1                     0              0
13            1050000                15        Required > 4L               0                         3                    1                     0              0
14            1100000                15        Required > 4L               0                         3                    1                     0              0
15            1150000                15        Required > 4L               0                         3                    1                     0              0
16            2000000                10      Required > 7.5L               0                         1                    1                     0              0
17            2050000                10      Required > 7.5L               0                         1                    1                     0              0
18            2100000                10      Required > 7.5L               0                         1                    1                     0              0
19            2150000                10      Required > 7.5L               0                         1                    1                     0              0
Total rows: 1800000

In [157]:
print(df.shape[0])

print(df.sample(n=100, random_state=42))

1800000
         credit_score any_active_loans university_tier  cgpa  family_income   loan_amt  repayment_period collateral_available  Unnamed: 0    Bank_Name                       Product_Name  \
1623083           570              Yes               1  6.53         159000   743000.0                 4                   No           3          SBI      Scholar Loan Scheme Variant 3
1663132           705               No               3  8.12         172900  1233000.0                 5                   No          12         HDFC                     Education Plus
114717            626              Yes               3  6.84         159000  1355000.0                 6                  Yes          37  Indian Bank               Vidya Loan Variant 1
681996            663               No               2  8.17         157400  1600000.0                 6                   No          36  Indian Bank                         Vidya Loan
472123            626               No               2  6.60         174400  1355000.0                 5                   No           3          SBI      Scholar Loan Scheme Variant 3
...               ...              ...             ...   ...            ...        ...               ...                  ...         ...          ...                                ...
1497549           616              Yes               3  7.16         216500  1579000.0                 7                   No          29   Union Bank     Union Education Loan Variant 1
49883             700              Yes               2  7.91         156100  1211000.0                 6                   No           3          SBI      Scholar Loan Scheme Variant 3
185276            671               No               2  7.30         191500  1355000.0                 6                   No          36  Indian Bank                         Vidya Loan
1535767           607              Yes               2  6.75         168900  1526000.0                 7                   No           7          PNB  Pratibha Education Loan Variant 3
350390            594              Yes               2  6.83         166700  1703000.0                 7                   No          30   Union Bank     Union Education Loan Variant 2

         Interest_Rate  Max_Loan_Domestic  Repayment_Period         Collateral  Processing_Fee  College_Tier_Eligibility  Collateral_Required  Collateral_Available  Collateral_OK
1623083          11.15            1150000                15    Required > 7.5L               0                         1                    0                     0              1
1663132          12.10            1000000                15      Required > 4L               0                         3                    1                     0              0
114717           10.20            1050000                15  Collateral > 7.5L               0                         3                    1                     1              1
681996           10.00            1000000                15  Collateral > 7.5L               0                         3                    1                     0              0
472123           11.15            1150000                15    Required > 7.5L               0                         1                    1                     0              0
...                ...                ...               ...                ...             ...                       ...                  ...                   ...            ...
1497549          10.40            1050000                15  Collateral > 7.5L               0                         1                    1                     0              0
49883            11.15            1150000                15    Required > 7.5L               0                         1                    1                     0              0
185276           10.00            1000000                15  Collateral > 7.5L               0                         3                    1                     0              0
1535767          11.40            1150000                15    Required > 7.5L               0                         1                    1                     0              0
350390           10.60            1100000                15  Collateral > 7.5L               0                         1                    1                     0              0

[100 rows x 20 columns]

In [158]:
dfinal = pd.read_csv('final1.csv')
print(dfinal.head())
print(dfinal.columns)

   Unnamed: 0.1  credit_score any_active_loans  university_tier  cgpa  family_income   loan_amt  repayment_period collateral_available  Unnamed: 0 Bank_Name                   Product_Name  \
0             0           561               No                1  7.57         166400  1996000.0                 7                  Yes           0       SBI            Scholar Loan Scheme
1             1           561               No                1  7.57         166400  1996000.0                 7                  Yes           1       SBI  Scholar Loan Scheme Variant 1
2             2           561               No                1  7.57         166400  1996000.0                 7                  Yes           2       SBI  Scholar Loan Scheme Variant 2
3             3           561               No                1  7.57         166400  1996000.0                 7                  Yes           3       SBI  Scholar Loan Scheme Variant 3
4             4           561               No                1  7.57         166400  1996000.0                 7                  Yes           4       PNB        Pratibha Education Loan

   Interest_Rate  Max_Loan_Domestic  Repayment_Period       Collateral  Processing_Fee  College_Tier_Eligibility  Collateral_Required  Collateral_Available  Collateral_OK
0          10.55            1000000                15  Required > 7.5L            5000                         1                    1                     1              1
1          10.75            1050000                15  Required > 7.5L               0                         1                    1                     1              1
2          10.95            1100000                15  Required > 7.5L            5000                         1                    1                     1              1
3          11.15            1150000                15  Required > 7.5L               0                         1                    1                     1              1
4          10.80            1000000                15  Required > 7.5L               0                         1                    1                     1              1
Index(['Unnamed: 0.1', 'credit_score', 'any_active_loans', 'university_tier', 'cgpa', 'family_income', 'loan_amt', 'repayment_period', 'collateral_available', 'Unnamed: 0', 'Bank_Name',
       'Product_Name', 'Interest_Rate', 'Max_Loan_Domestic', 'Repayment_Period', 'Collateral', 'Processing_Fee', 'College_Tier_Eligibility', 'Collateral_Required', 'Collateral_Available',
       'Collateral_OK'],
      dtype='object')

In [159]:
dfinal = dfinal.iloc[:, :-3]  # Drops last 3 columns
dfinal = dfinal.drop(columns=['Unnamed: 0'])  # Then drop the middle unnamed column
pd.set_option('display.max_columns', None)     # Show all columns
pd.set_option('display.width', 200)            # Adjust width to fit your terminal
pd.set_option('display.max_colwidth', None)    # Show full column content

# Print top 10 rows neatly
print(dfinal.head(10).to_string())

   Unnamed: 0.1  credit_score any_active_loans  university_tier  cgpa  family_income   loan_amt  repayment_period collateral_available  Bank_Name                        Product_Name  Interest_Rate  Max_Loan_Domestic  Repayment_Period           Collateral  Processing_Fee  College_Tier_Eligibility
0             0           561               No                1  7.57         166400  1996000.0                 7                  Yes        SBI                 Scholar Loan Scheme          10.55            1000000                15      Required > 7.5L            5000                         1
1             1           561               No                1  7.57         166400  1996000.0                 7                  Yes        SBI       Scholar Loan Scheme Variant 1          10.75            1050000                15      Required > 7.5L               0                         1
2             2           561               No                1  7.57         166400  1996000.0                 7                  Yes        SBI       Scholar Loan Scheme Variant 2          10.95            1100000                15      Required > 7.5L            5000                         1
3             3           561               No                1  7.57         166400  1996000.0                 7                  Yes        SBI       Scholar Loan Scheme Variant 3          11.15            1150000                15      Required > 7.5L               0                         1
4             4           561               No                1  7.57         166400  1996000.0                 7                  Yes        PNB             Pratibha Education Loan          10.80            1000000                15      Required > 7.5L               0                         1
5             5           561               No                1  7.57         166400  1996000.0                 7                  Yes        PNB   Pratibha Education Loan Variant 1          11.00            1050000                15      Required > 7.5L               0                         1
6             6           561               No                1  7.57         166400  1996000.0                 7                  Yes        PNB   Pratibha Education Loan Variant 2          11.20            1100000                15      Required > 7.5L               0                         1
7             7           561               No                1  7.57         166400  1996000.0                 7                  Yes        PNB   Pratibha Education Loan Variant 3          11.40            1150000                15      Required > 7.5L               0                         1
8             8           561               No                1  7.57         166400  1996000.0                 7                  Yes  Axis Bank            Education Advantage Loan          15.50            1000000                15  Tangible collateral            5000                         3
9             9           561               No                1  7.57         166400  1996000.0                 7                  Yes  Axis Bank  Education Advantage Loan Variant 1          15.70            1050000                15  Tangible collateral               0                         3

In [160]:
# 1. Convert Yes/No → 1/0
dfinal['any_active_loans'] = dfinal['any_active_loans'].map({'Yes': 1, 'No': 0})
dfinal['collateral_available'] = dfinal['collateral_available'].map({'Yes': 1, 'No': 0})

# 2. Collateral Required Check
def parse_collateral(text):
    """Extracts threshold from collateral column."""
    text = str(text).lower()
    if "not required" in text:
        return 0
    elif "optional" in text:
        return 0
    elif "tangible" in text:   # e.g. "Tangible collateral"
        return 1
    elif "required" in text and ">" in text:
        try:
            num_str = text.split(">")[1].replace("l", "").strip()
            threshold = float(num_str) * 100000
            return threshold
        except:
            return 0
    else:
        return 0

# Parse thresholds
dfinal['collateral_threshold'] = dfinal['Collateral'].apply(parse_collateral)

# If collateral_threshold = 0 → no collateral required
# If =1 (from tangible collateral) → always required
# Else → check against loan amount
dfinal['Collateral_Required'] = np.where(
    dfinal['collateral_threshold'].eq(1), 1,    
    np.where(dfinal['loan_amt'] > dfinal['collateral_threshold'], 1, 0)
)

# 3. Collateral OK = requirement satisfied
dfinal['Collateral_OK'] = np.where(
    (dfinal['Collateral_Required'] == 1) & (dfinal['collateral_available'] == 1), 1,
    np.where(dfinal['Collateral_Required'] == 0, 1, 0)
)

# Drop helper col if not needed
#dfinal.drop(columns=['collateral_threshold','Collateral'], inplace=True)
#dfinal = dfinal.drop(columns=['Unnamed: 0'])  # Then drop the middle unnamed column
pd.set_option('display.max_columns', None)     # Show all columns
pd.set_option('display.width', 200)            # Adjust width to fit your terminal
pd.set_option('display.max_colwidth', None)    # Show full column content

# Print top 10 rows neatly
print(dfinal.head(10).to_string())

   Unnamed: 0.1  credit_score  any_active_loans  university_tier  cgpa  family_income   loan_amt  repayment_period  collateral_available  Bank_Name                        Product_Name  Interest_Rate  Max_Loan_Domestic  Repayment_Period           Collateral  Processing_Fee  College_Tier_Eligibility  collateral_threshold  Collateral_Required  Collateral_OK
0             0           561                 0                1  7.57         166400  1996000.0                 7                     1        SBI                 Scholar Loan Scheme          10.55            1000000                15      Required > 7.5L            5000                         1              750000.0                    1              1
1             1           561                 0                1  7.57         166400  1996000.0                 7                     1        SBI       Scholar Loan Scheme Variant 1          10.75            1050000                15      Required > 7.5L               0                         1              750000.0                    1              1
2             2           561                 0                1  7.57         166400  1996000.0                 7                     1        SBI       Scholar Loan Scheme Variant 2          10.95            1100000                15      Required > 7.5L            5000                         1              750000.0                    1              1
3             3           561                 0                1  7.57         166400  1996000.0                 7                     1        SBI       Scholar Loan Scheme Variant 3          11.15            1150000                15      Required > 7.5L               0                         1              750000.0                    1              1
4             4           561                 0                1  7.57         166400  1996000.0                 7                     1        PNB             Pratibha Education Loan          10.80            1000000                15      Required > 7.5L               0                         1              750000.0                    1              1
5             5           561                 0                1  7.57         166400  1996000.0                 7                     1        PNB   Pratibha Education Loan Variant 1          11.00            1050000                15      Required > 7.5L               0                         1              750000.0                    1              1
6             6           561                 0                1  7.57         166400  1996000.0                 7                     1        PNB   Pratibha Education Loan Variant 2          11.20            1100000                15      Required > 7.5L               0                         1              750000.0                    1              1
7             7           561                 0                1  7.57         166400  1996000.0                 7                     1        PNB   Pratibha Education Loan Variant 3          11.40            1150000                15      Required > 7.5L               0                         1              750000.0                    1              1
8             8           561                 0                1  7.57         166400  1996000.0                 7                     1  Axis Bank            Education Advantage Loan          15.50            1000000                15  Tangible collateral            5000                         3                   1.0                    1              1
9             9           561                 0                1  7.57         166400  1996000.0                 7                     1  Axis Bank  Education Advantage Loan Variant 1          15.70            1050000                15  Tangible collateral               0                         3                   1.0                    1              1

In [168]:
dfinal = dfinal.iloc[:, 1:]

print(dfinal.head())

   university_tier  cgpa  family_income   loan_amt  repayment_period  collateral_available Bank_Name                   Product_Name  Interest_Rate  Max_Loan_Domestic  Repayment_Period  \
0                1  7.57         166400  1996000.0                 7                     1       SBI            Scholar Loan Scheme          10.55            1000000                15
1                1  7.57         166400  1996000.0                 7                     1       SBI  Scholar Loan Scheme Variant 1          10.75            1050000                15
2                1  7.57         166400  1996000.0                 7                     1       SBI  Scholar Loan Scheme Variant 2          10.95            1100000                15
3                1  7.57         166400  1996000.0                 7                     1       SBI  Scholar Loan Scheme Variant 3          11.15            1150000                15
4                1  7.57         166400  1996000.0                 7                     1       PNB        Pratibha Education Loan          10.80            1000000                15

   Processing_Fee  College_Tier_Eligibility  Collateral_Required  Collateral_OK
0            5000                         1                    1              1
1               0                         1                    1              1
2            5000                         1                    1              1
3               0                         1                    1              1
4               0                         1                    1              1

In [169]:

from math import exp

# ---------- hyperparameters (tweak for your domain) ----------
# weights for the soft-feature aggregate (sum to 1)
WEIGHTS = {
    "amount_margin": 0.30,   # how comfortably requested amount is within max
    "income_dti":   0.25,    # family income vs EMI (lower DTI => higher score)
    "credit_score": 0.15,
    "cgpa":         0.15,
    "repayment_fit":0.05,    # student chosen tenure vs product max tenure
    "interest":     0.10     # lower interest is better
}

# mapping/thresholds
MIN_GPA = 6.0         # lower bound of GPA scale
MAX_GPA = 10.0
CREDIT_MIN = 300      # typical credit score min
CREDIT_MAX = 900      # typical maximum for normalization
DTI_THRESHOLD = 0.5   # debt-to-income ratio above which probability should be very low
EMI_ROUND = 1e-9

# sigmoid mapping params (controls steepness and midpoint)
SIGMOID_ALPHA = 7.0
SIGMOID_TAU   = 0.5

# small random noise range added to final prob (optional)
RANDOM_NOISE = 0.03

# ---------- helper functions ----------
def sigmoid(x):
    return 1.0 / (1.0 + exp(-x))

def clip01(x):
    return max(0.0, min(1.0, x))

def compute_emi(loan_amount, annual_rate_pct, tenure_years):
    """Standard EMI formula. tenure_years may be 0 or tiny in some rows — guard against that."""
    n = max(1, int(round(tenure_years * 12)))  # months
    r = max(0.0, annual_rate_pct / 100.0 / 12.0)  # monthly rate
    if r <= 0:
        return loan_amount / n
    # EMI formula
    num = loan_amount * r * (1 + r) ** n
    den = (1 + r) ** n - 1
    if abs(den) < EMI_ROUND:
        return loan_amount / n
    return num / den

# ---------- main approval probability function ----------
def approval_probability_row(row, weights=WEIGHTS):
    # --- HARD constraints (absolute blockers) ---
    # 1) requested loan exceeds product maximum
    try:
        requested = float(row['loan_amt'])
        max_dom = float(row.get('Max_Loan_Domestic', np.nan))
    except Exception:
        return 0.0

    if np.isnan(max_dom):
        # If product has no max info, don't block — treat as soft
        pass
    else:
        if requested > max_dom:
            return 0.0   # HARD BLOCK

    # 2) collateral required by product but student doesn't have it -> block
    # assume Collateral_Required is binary (1 yes, 0 no) or string; Collateral_OK computed already
    if ('Collateral_Required' in row) and ('Collateral_OK' in row):
        # Use Collateral_OK if available: 0 => student cannot satisfy collateral requirement
        if int(row['Collateral_Required']) == 1 and int(row['Collateral_OK']) == 0:
            return 0.0
    else:
        # fallback: if collateral_required and collateral_available information present:
        if row.get('Collateral_Required') in [1, '1', True] and row.get('collateral_available') in [0, '0', False, 'No']:
            return 0.0

    # --- SOFT SCORES (each in [0,1]) ---
    scores = {}

    # A) Amount margin: how close requested is to max (higher is better)
    if max_dom and max_dom > 0:
        amount_margin = (max_dom - requested) / max_dom  # 1.0 if requested=0, 0.0 if requested==max
        scores['amount_margin'] = clip01(amount_margin)
    else:
        scores['amount_margin'] = 0.5  # unknown -> neutral

    # B) Debt-to-income (DTI) / income score: lower DTI -> better
    family_income = float(row.get('family_income', 0.0))
    monthly_income = family_income / 12.0 if family_income > 0 else 0.0

    # use student's chosen repayment_period if present, else product repayment period
    tenure_years_student = float(row.get('repayment_period', np.nan))
    if np.isnan(tenure_years_student) or tenure_years_student <= 0:
        tenure_years_student = float(row.get('Repayment_Period', 10))  # fallback

    emi = compute_emi(requested, float(row.get('Interest_Rate', 12.0)), tenure_years_student)
    dti = emi / (monthly_income + 1e-9) if monthly_income > 0 else 1.0  # if no income, dti huge

    # convert dti to score: 1 when dti=0, 0 when dti >= DTI_THRESHOLD*2
    # smoother mapping: score = clip(1 - dti / DTI_THRESHOLD, 0, 1)
    income_score = 1.0 - (dti / DTI_THRESHOLD)
    scores['income_dti'] = clip01(income_score)

    # C) Credit score normalized
    cs = row.get('credit_score', None)
    if cs is None or (isinstance(cs, float) and np.isnan(cs)):
        scores['credit_score'] = 0.5
    else:
        try:
            cs_val = float(cs)
            scores['credit_score'] = clip01((cs_val - CREDIT_MIN) / (CREDIT_MAX - CREDIT_MIN))
        except:
            scores['credit_score'] = 0.5

    # D) CGPA normalized (scale 6..10)
    cgpa = row.get('cgpa', None)
    if cgpa is None or (isinstance(cgpa, float) and np.isnan(cgpa)):
        scores['cgpa'] = 0.5
    else:
        try:
            g = float(cgpa)
            scores['cgpa'] = clip01((g - MIN_GPA) / (MAX_GPA - MIN_GPA))
        except:
            scores['cgpa'] = 0.5

    # E) Repayment fit: if student's chosen tenure <= product max tenure -> good
    # product tenure in years may be numeric in 'Repayment_Period' col
    prod_tenure = row.get('Repayment_Period', None)
    try:
        prod_tenure_val = float(prod_tenure)
    except:
        # if product tenure is string like "15 years", extract number
        try:
            prod_tenure_val = float(str(prod_tenure).split()[0])
        except:
            prod_tenure_val = tenure_years_student  # fallback to student tenure

    if tenure_years_student <= prod_tenure_val:
        scores['repayment_fit'] = 1.0
    else:
        # if student asks longer than product allows, penalize proportionally
        scores['repayment_fit'] = clip01(prod_tenure_val / tenure_years_student)

    # F) Interest effect: lower interest gives slightly higher score
    try:
        interest = float(row.get('Interest_Rate', 12.0))
        # map interest 5% -> score 1.0 , 20% -> score 0.0 linearly
        scores['interest'] = clip01((20.0 - interest) / 15.0)
    except:
        scores['interest'] = 0.5

    # --- Aggregate weighted score (S in [0,1]) ---
    S = 0.0
    for k,w in weights.items():
        S += w * scores.get(k, 0.5)  # default neutral 0.5 if missing

    S = clip01(S)

    # --- Map aggregate S to probability via sigmoid to make middle ranges more discriminative ---
    P = sigmoid(SIGMOID_ALPHA * (S - SIGMOID_TAU))

    # add a tiny bit of noise if desired
    P = P + np.random.uniform(-RANDOM_NOISE, RANDOM_NOISE)
    P = clip01(P)

    # Final sanity: if any soft checks indicate impossible (already handled by hard), we kept it
    return P

# ---------- Usage ----------
# df_combined is your dataframe where each row is a (student, product) pair
# Example:
# df_combined['approval_probability'] = df_combined.apply(approval_probability_row, axis=1)

In [172]:
dfinal['approval_probability'] = dfinal.apply(approval_probability_row, axis=1)
print(dfinal.head())

   university_tier  cgpa  family_income   loan_amt  repayment_period  collateral_available Bank_Name                   Product_Name  Interest_Rate  Max_Loan_Domestic  Repayment_Period  \
0                1  7.57         166400  1996000.0                 7                     1       SBI            Scholar Loan Scheme          10.55            1000000                15
1                1  7.57         166400  1996000.0                 7                     1       SBI  Scholar Loan Scheme Variant 1          10.75            1050000                15
2                1  7.57         166400  1996000.0                 7                     1       SBI  Scholar Loan Scheme Variant 2          10.95            1100000                15
3                1  7.57         166400  1996000.0                 7                     1       SBI  Scholar Loan Scheme Variant 3          11.15            1150000                15
4                1  7.57         166400  1996000.0                 7                     1       PNB        Pratibha Education Loan          10.80            1000000                15

   Processing_Fee  College_Tier_Eligibility  Collateral_Required  Collateral_OK  approval_probability
0            5000                         1                    1              1                   0.0
1               0                         1                    1              1                   0.0
2            5000                         1                    1              1                   0.0
3               0                         1                    1              1                   0.0
4               0                         1                    1              1                   0.0

In [174]:

pd.set_option('display.max_rows', 100)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', 1000)  # Increase width to fit more columns
pd.set_option('display.colheader_justify', 'left')  # Optional: align headers

# Sample 100 random rows
sampled_df = dfinal.sample(n=100, random_state=42)

# Print the sampled DataFrame
print(sampled_df)

        university_tier  cgpa  family_income  loan_amt   repayment_period  collateral_available Bank_Name       Product_Name                         Interest_Rate  Max_Loan_Domestic  Repayment_Period  Processing_Fee  College_Tier_Eligibility  Collateral_Required  Collateral_OK  approval_probability
577985  1                8.08  158100         1703000.0  7                 0                        Canara Bank              Vidya Turant Variant 1  10.10          1050000            15                   0            2                         1                    0              0.000000
253032  1                7.06  161400         1355000.0  6                 0                          IDBI Bank                      Education Loan  11.00          1500000            10                   0            1                         1                    0              0.000000
602136  3                6.34  158300          350000.0  4                 0                         ICICI Bank                     Global Edu Loan  11.25          2000000            10                   0            1                         0                    1              0.378576
333502  1                8.10  165100         1078000.0  6                 0                     Bank of Baroda            Baroda Scholar Variant 2  10.25          1100000            15                   0            2                         1                    0              0.000000
291618  1                8.48  164300         1355000.0  5                 0                         ICICI Bank           Global Edu Loan Variant 2  11.65          2100000            10                   0            1                         1                    0              0.000000
555195  1                7.77  178100         1078000.0  6                 0                          IDBI Bank            Education Loan Variant 3  11.60          1650000            10                   0            1                         1                    0              0.000000
480456  1                6.67  167200         1615000.0  6                 0                         ICICI Bank                     Global Edu Loan  11.25          2000000            10                   0            1                         1                    0              0.000000
456897  1                6.58  164800         1355000.0  6                 0                         ICICI Bank           Global Edu Loan Variant 1  11.45          2050000            10                   0            1                         1                    0              0.000000
253142  1                6.33  161400          481000.0  4                 1                     Bank of Baroda            Baroda Scholar Variant 2  10.25          1100000            15                   0            2                         0                    1              0.271850
393371  1                8.70  159300         1233000.0  5                 0                          Axis Bank  Education Advantage Loan Variant 3  16.10          1150000            15                   0            3                         1                    0              0.000000
644726  1                6.35  155300          663000.0  4                 0                                PNB   Pratibha Education Loan Variant 2  11.20          1100000            15                   0            1                         0                    1              0.194748
114502  2                7.28  168000          481000.0  4                 1                     Bank of Baroda            Baroda Scholar Variant 2  10.25          1100000            15                   0            2                         0                    1              0.312947
340194  2                8.16  163300         1097000.0  5                 1                          IDBI Bank            Education Loan Variant 2  11.40          1600000            10                   0            1                         1                    1              0.240649
646763  1                6.89  158600          524000.0  4                 1                                SBI       Scholar Loan Scheme Variant 3  11.15          1150000            15                   0            1                         0                    1              0.302313
167169  3                6.53  160500          397000.0  3                 0                          Axis Bank  Education Advantage Loan Variant 1  15.70          1050000            15                   0            3                         1                    0              0.000000
100623  1                7.48  154100          481000.0  4                 0                     Bank of Baroda            Baroda Scholar Variant 3  10.45          1150000            15                   0            2                         0                    1              0.331590
100932  1                8.73  154400          481000.0  4                 0                               HDFC                      Education Plus  12.10          1000000            15                   0            3                         1                    0              0.000000
274634  3                6.55  170400          892000.0  5                 0                          IDBI Bank            Education Loan Variant 2  11.40          1600000            10                   0            1                         1                    0              0.000000
483539  3                7.93  172700         1141000.0  5                 0                         ICICI Bank           Global Edu Loan Variant 3  11.85          2150000            10                   0            1                         1                    0              0.000000
134673  3                6.60  161500         1454000.0  5                 0                          IDBI Bank            Education Loan Variant 1  11.20          1550000            10                   0            1                         1                    0              0.000000
101976  3                7.03  157500          481000.0  3                 0                         ICICI Bank                     Global Edu Loan  11.25          2000000            10                   0            1                         0                    1              0.427593
573557  1                7.70  180600         1526000.0  7                 1                        Indian Bank                Vidya Loan Variant 1  10.20          1050000            15                   0            3                         1                    1              0.000000
33861   2                6.81  185200         1861000.0  7                 1                     Bank of Baroda            Baroda Scholar Variant 1  10.05          1050000            15                   0            2                         1                    1              0.000000
431708  1                7.36  160900         1355000.0  6                 0                         Union Bank                Union Education Loan  10.20          1000000            15                   0            1                         1                    0              0.000000
41837   1                7.35  173500         1808000.0  7                 1                        Indian Bank                Vidya Loan Variant 1  10.20          1050000            15                   0            3                         1                    1              0.000000
155876  2                6.72  160600          596000.0  4                 0                        Indian Bank                          Vidya Loan  10.00          1000000            15                   0            3                         1                    0              0.000000
164690  2                6.26  160600          378000.0  4                 1                          Axis Bank  Education Advantage Loan Variant 2  15.90          1100000            15                6000            3                         1                    1              0.284902
265547  2                7.64  164500          892000.0  5                 0                        Canara Bank              Vidya Turant Variant 3  10.50          1150000            15                   0            3                         1                    0              0.000000
158999  2                7.36  163700          596000.0  5                 0                        Indian Bank                Vidya Loan Variant 3  10.60          1150000            15                   0            3                         1                    0              0.000000
130022  1                8.60  171900          536000.0  4                 1                     Bank of Baroda            Baroda Scholar Variant 2  10.25          1100000            15                   0            2                         0                    1              0.396077
79667   1                6.84  161400          397000.0  4                 0                        Canara Bank              Vidya Turant Variant 3  10.50          1150000            15                   0            3                         1                    0              0.000000
154878  3                8.38  159200          596000.0  5                 0                        Indian Bank                Vidya Loan Variant 2  10.40          1100000            15                   0            3                         1                    0              0.000000
570650  2                7.62  180000         1895000.0  6                 0                          Axis Bank  Education Advantage Loan Variant 2  15.90          1100000            15                6000            3                         1                    0              0.000000
243928  3                8.18  172200          845000.0  4                 0                          Axis Bank            Education Advantage Loan  15.50          1000000            15                5000            3                         1                    0              0.000000
385318  2                7.54  161100         1188000.0  6                 0                        Indian Bank                Vidya Loan Variant 2  10.40          1100000            15                   0            3                         1                    0              0.000000
380368  3                7.74  167300         1271000.0  5                 0                          Axis Bank            Education Advantage Loan  15.50          1000000            15                5000            3                         1                    0              0.000000
548319  2                7.30  173900         1703000.0  7                 1                        Indian Bank                Vidya Loan Variant 3  10.60          1150000            15                   0            3                         1                    1              0.000000
629277  1                6.59  164900         1746000.0  7                 0                        Indian Bank                Vidya Loan Variant 1  10.20          1050000            15                   0            3                         1                    0              0.000000
669753  2                8.10  171400         1526000.0  7                 0                          IDBI Bank            Education Loan Variant 1  11.20          1550000            10                   0            1                         1                    0              0.000000
313922  2                7.39  165200          743000.0  5                 0                                SBI       Scholar Loan Scheme Variant 2  10.95          1100000            15                5000            1                         0                    1              0.259167
610650  2                6.86  164900         1703000.0  7                 0                          Axis Bank  Education Advantage Loan Variant 2  15.90          1100000            15                6000            3                         1                    0              0.000000
537571  1                7.08  176500         1141000.0  6                 0                          Axis Bank  Education Advantage Loan Variant 3  16.10          1150000            15                   0            3                         1                    0              0.000000
623697  1                6.70  174200         1703000.0  7                 1                         ICICI Bank           Global Edu Loan Variant 1  11.45          2050000            10                   0            1                         1                    1              0.133356
289753  3                6.06  185200         1015000.0  6                 0                          IDBI Bank            Education Loan Variant 1  11.20          1550000            10                   0            1                         1                    0              0.000000
447228  3                7.56  170400         1355000.0  5                 0                         Union Bank                Union Education Loan  10.20          1000000            15                   0            1                         1                    0              0.000000
87034   3                7.55  157700         1615000.0  7                 0                          IDBI Bank            Education Loan Variant 2  11.40          1600000            10                   0            1                         1                    0              0.000000
458858  2                6.87  171400         1633000.0  7                 0                         ICICI Bank           Global Edu Loan Variant 2  11.65          2100000            10                   0            1                         1                    0              0.000000
462570  3                6.83  171400          481000.0  4                 0                          Axis Bank  Education Advantage Loan Variant 2  15.90          1100000            15                6000            3                         1                    0              0.000000
37407   1                6.64  172300         1824000.0  7                 0                                PNB   Pratibha Education Loan Variant 3  11.40          1150000            15                   0            1                         1                    0              0.000000
10550   3                8.22  203800         1956000.0  7                 0                         Union Bank      Union Education Loan Variant 2  10.60          1100000            15                   0            1                         1                    0              0.000000
135659  3                7.13  164000         1454000.0  6                 0                         ICICI Bank           Global Edu Loan Variant 3  11.85          2150000            10                   0            1                         1                    0              0.000000
60669   1                7.57  152800          328000.0  3                 0                         Union Bank      Union Education Loan Variant 1  10.40          1050000            15                   0            1                         1                    0              0.000000
274810  1                7.87  170800          892000.0  4                 1                          Axis Bank  Education Advantage Loan Variant 2  15.90          1100000            15                6000            3                         1                    1              0.166416
413723  2                8.54  169000          428000.0  3                 0                                SBI       Scholar Loan Scheme Variant 3  11.15          1150000            15                   0            1                         0                    1              0.447966
4808    2                6.97  152300          663000.0  4                 0                          Axis Bank            Education Advantage Loan  15.50          1000000            15                5000            3                         1                    0              0.000000
555402  1                8.72  174600         1921000.0  6                 1                                SBI       Scholar Loan Scheme Variant 2  10.95          1100000            15                5000            1                         1                    1              0.000000
202762  1                7.28  161600         1762000.0  7                 0                                SBI       Scholar Loan Scheme Variant 2  10.95          1100000            15                5000            1                         1                    0              0.000000
646245  2                8.30  170500         1526000.0  7                 0                                PNB   Pratibha Education Loan Variant 1  11.00          1050000            15                   0            1                         1                    0              0.000000
169929  1                7.50  163300          650000.0  5                 0                          Axis Bank  Education Advantage Loan Variant 1  15.70          1050000            15                   0            3                         1                    0              0.000000
385279  3                8.23  167700          650000.0  4                 0                        Indian Bank                Vidya Loan Variant 3  10.60          1150000            15                   0            3                         1                    0              0.000000
345077  2                7.67  156900         1141000.0  6                 1                        Indian Bank                Vidya Loan Variant 1  10.20          1050000            15                   0            3                         1                    1              0.000000
215858  1                6.40  162000          743000.0  4                 1                         ICICI Bank           Global Edu Loan Variant 2  11.65          2100000            10                   0            1                         0                    1              0.305344
494018  2                8.29  160200         1526000.0  6                 0                         ICICI Bank           Global Edu Loan Variant 2  11.65          2100000            10                   0            1                         1                    0              0.000000
312076  2                7.86  165200         1827000.0  6                 1                        Indian Bank                          Vidya Loan  10.00          1000000            15                   0            3                         1                    1              0.000000
144581  2                6.60  159900         1214000.0  6                 0                     Bank of Baroda            Baroda Scholar Variant 1  10.05          1050000            15                   0            2                         1                    0              0.000000
542863  3                7.65  169800         1586000.0  7                 0                     Bank of Baroda            Baroda Scholar Variant 3  10.45          1150000            15                   0            2                         1                    0              0.000000
100350  3                8.40  153700          481000.0  3                 0                         Union Bank      Union Education Loan Variant 2  10.60          1100000            15                   0            1                         1                    0              0.000000
243628  3                7.78  159500          843000.0  5                 1                         Union Bank                Union Education Loan  10.20          1000000            15                   0            1                         1                    1              0.179082

In [177]:
print((dfinal['approval_probability'] == 0).sum())
dfinal.to_csv('final2.csv')

503433